<a href="https://colab.research.google.com/github/iamtatha/Data_Science/blob/master/liver%20patient.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd 
df = pd.read_csv('gdrive/My Drive/Machine Learning/indian_liver_patient_2.csv')

In [3]:
df

     Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0     65       0              0.7  ...      3.3                        0.90        1
1     62       1             10.9  ...      3.2                        0.74        1
2     62       1              7.3  ...      3.3                        0.89        1
3     58       1              1.0  ...      3.4                        1.00        1
4     72       1              3.9  ...      2.4                        0.40        1
..   ...     ...              ...  ...      ...                         ...      ...
578   60       1              0.5  ...      1.6                        0.37        0
579   40       1              0.6  ...      3.2                        1.10        1
580   52       1              0.8  ...      3.2                        1.00        1
581   31       1              1.3  ...      3.4                        1.00        1
582   38       1              1.0  ...      4.4                        1.50        0

[583 rows x 11 columns]